@using LiolamResteurent
@model Order

@{
    ViewData["Title"] = "ShowOrderScreen";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

@section Styles
{
<link href="~/css/customer/order.css" rel="stylesheet" />
}
@section Js
{
<script src="~/javascript/customer/orderfetch.js"></script>
}

@if (ViewBag.Error == true)
{
    <h4 class="error">someting went wrong. try order later - every order must contains one dish at list</h4>
}
else
{
    <div class="order-container">
        <h2>Online Order</h2>

        <div class="order-header">
            Order Number: @Model.Id
        </div>

        <div class="dishes-list">
            @if (Model.products != null)
            {
                foreach (var product in Model.products)
                {
                    <div class="dish-item">
                        <img src="@product.Image" alt="Dish Image" class="dish-image" />
                        <span class="dish-name">@product.Name</span>
                        @Html.AntiForgeryToken()
                        <input id="quantity" class="dish-quantity" type="number" min="1" max="10" value="@product.Quatity" onchange="updateQuantity('@product.Id', @this.Context)" />
                        <span id="total_price" class="dish-price">@product.totalPrice.ToString()</span>
                        <a class="remove-button" href="http://localhost:7287/customer/RemoveDishFromOrder?dishId=@product.Id">-</a>
                    </div>
                }
            }
        </div>

        <div class="add-dish-container">
            <a class="add-button" href="http://localhost:7287/customer/ShowOrderMenu">+</a>
        </div>

        <div class="sum-box">
            Sum: @(Model.products?.Sum(d => d.totalPrice) ?? 0) $
        </div>

        <div class="action-buttons">
            <a class="pay-button" href="http://localhost:7287/customer/ShowCreditCardInfo">Pay</a>
            <a class="load-button">Load Existing Order</a>
        </div>
    </div>
}

