@using LiolamResteurent
@model Order

@{
    ViewData["Title"] = "ShowOrderScreen";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

@section Styles
{
<link href="~/css/customer/order.css" rel="stylesheet" />
}
@section Js
{
    <script src="~/javascript/customer/orderfetch.js"></script>
}

@if (ViewBag.Error == true)
{
    <h4 class="error">someting went wrong. try to otenticate you details and try again</h4>
}
else
{
    @Html.AntiForgeryToken()
    <div class="order-container">
        <h2>Online Order</h2>

        <div class="order-header">
            Order Number: @Model.Id
        </div>

        <div class="dishes-list">
            @if (Model.products != null)
            {
                foreach (var product in Model.products)
                {
                    <div class="dish-item">
                        <img src="@product.Image" alt="Dish Image" class="dish-image" />
                        <span class="dish-name">@product.Name</span>
                        <input class="dish-quantity" type="number" min="1" value="@product.Quatity" onchange="updateQuantity(@product.Id, this.value)" />
                        <span class="dish-price">@String.Format("{0:C}", product.totalPrice.ToString())</span>
                        <button class="remove-button">-</button>
                    </div>
                }
            }
        </div>

        <div class="add-dish-container">
            <button class="add-button" href="http://localhost:7287/customer/ShowOrderMenu">+</button>
        </div>

        <div class="sum-box">
            Sum: @(Model.products?.Sum(d => d.totalPrice) ?? 0) $
        </div>

        <div class="action-buttons">
            <button class="pay-button">Pay</button>
            <button class="load-button">Load Existing Order</button>
        </div>
    </div>
}

