@using LiolamResteurent
@model List<Dishes>


<div class="dishes" id="dishesData">
        @foreach (Dishes dish in Model)
        {
            <a class="link" href="http://localhost:7287/Guest/GetDish?dishId=@dish.Id">
                <div class="dish">
                    <img src="@dish.DishImage" alt="@dish.DishName" class="dish-image" />
                    <p class="dish-name">@dish.DishName</p>
                </div>
            </a>
        }
    </div>
<div class="pagination" id="paginationData">

        @for (int i = 1; i <= Model.Count; i+=12)
        {

            int counter = i / 12; 
            <span data-pageNumber="@counter" class="page-number @("active") link" data-pageNumber="@i">@i</span>
        }
    </div>
